{
  "name": "NJAS",
  "port": 6729,
  "orbs": [
    {
      "title": "Notes",
      "path": "sample-notes",
      "kind": "notes"
    },
    {
      "title": "Docs",
      "path": "C:/Users/Asus/Documents",
      "kind": "media"
    },
    {
      "title": "3d Models",
      "path": "C:/Users/Asus/Documents/3D Model",
      "kind": "media"
    },
    {
      "title": "Home",
      "path": "C:/Users/Asus",
      "kind": "media"
    }
  ]
}